@font-face {
    font-family: 'LemonCookieBold';
    src: url('LemonCookieBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LemonCookieSans';
    src: url('LemonCookieSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LemonCookie';
    src: url('LemonCookie.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

