*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section{
    height: 500px;
    background-image: url('./banner.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: cover;
    background-position: center center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: #ccc;


}